* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body 
{
   
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("asset/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.main__app 
{
    
   width: 30%;
   height: 100%;
   padding: 10px;
   border-radius: 12px;
   color: #fff;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    .search 
    {
        width: 100%;
        max-width: 280px;
        padding: 10px 15px;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 16px 0px 16px 0px;
        border-bottom: 3px solid #DF8E00;
         color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 300;
        transition: 0.2s ease-out;
        
        &::placeholder 
        {
            color: #fff;
        }
        &:focus{
            border-radius: 0px 16px 0px 16px; 
            background: #0004;  
        }
    }
    .location 
    {
        padding-top: 10px;
        text-align: center;
        margin-bottom: 0px;
        position: absolute;
        top: 0;
        left: 0;
        .city 
        {
            color: #fff;
            font-size: 30px;
            padding-bottom: 8px;
            font-weight: 800;
            text-align: left;
            padding: 5px 10px;
        }
        .date 
        {
            color: #fff;
            padding-bottom:5px ;
            padding: 5px 10px; 
            font-weight: 600;
            opacity: 0.4;
            text-align: left;
        }
    }
    .weather__app
    {
      text-align: center;
    
        .temp 
        {
            padding-bottom:5px ;
            font-size: 30px;
            font-size: 65px;
            font-weight: 800;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
        }
        .weather 
        {
            padding-bottom:5px ;
            font-weight: 700;
            position: absolute;
            left: 0;
            bottom: 9.5%;
            padding: 5px 10px;
            font-size: 30px;
        } 
       .min__max-temp 
       {
        padding-bottom:5px ;
        font-weight: 700;
        position: absolute;
        left: 0;
        bottom: 5%;
        padding: 5px 10px;
        font-size: 17px;
        opacity: 0.4;
       }
       .weather__sub 
       {
           position: absolute;
           bottom: 5.2%;
           right: 0;
           padding: 5px 10px;
           display: flex;
           font-size: 12px;
           opacity: 0.4;
           font-weight: 800;
           .presure 
           {
               padding-right: 10px;
           }
       }
    }
}

@media (max-width:729px){
    .main__app 
    {
        width: 80%;
        .location 
        {
            .city 
            {
                font-size: 25px;
            }
        }
        .weather__app
        {
            .temp 
            {
                font-size: 60px;
            }
            .weather 
            {
                font-size: 25px;
           
            }
        }
    }
   
}
@media (max-width:429px){
    .main__app 
    {
        width: 100%;
    }
}
@media (min-width:730px) and (max-width:1024px){
    .main__app 
    {
        width: 70%;
    }
}
@media (min-width:1025px) and (max-width:1224px){
    .main__app 
    {
        width: 40%;
    }
}
@media (max-height:600px){
    .main__app 
    {
        width: 80%;
        .location 
        {
            .city 
            {
                font-size: 20px;
            }
        }
        .weather__app
        {
            .temp 
            {
                font-size: 40px;
            }
            .weather 
            {
                font-size: 20px;
                position: absolute;
                bottom: 12%;
            }
            .min__max-temp 
            {
                font-size: 17px;
            }
        }
    }
}